#intro-main {
    background-image: url("/img/Fullsize-Bg-img.png");
    overflow: hidden;
    color: white;
    text-align: center;
   background-size: cover;
   min-height: 100vh;
   padding-top: 200px;
}
.hdr-txt {
    font-size: 7.5em;
    font-family: 'Lemonada', cursive;
}
.sub-hdr-txt {
    font-size: 2.5em;
}
.spec-sec {
    min-height: 500px;
}
#cont-sec {
    padding: 100px;
}